<html>
<head>

    <style>
      body
      {
        font-family: 'Times New Roman', Times, serif;
      }
    </style>



</head>
<body>
<section style="padding-top:30px">
  <div class="container">
    <button type="button" (click)="skip()" style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 20px;">Skip and Login</p></b></button>
    &emsp;
    <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Company Registration</p></b></button>
    <br>
  </div>

  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <div class="container-sm ">

      <div class="row" style="padding-top: 5px;">
        <div class="col-sm-3">
          <label class="form-control"  style="border-radius:12px;padding: 10px;"> Company Name </label>

        </div>
        <div class="col-sm-9">
          <input type="text" style="border-radius:12px;" class="form-control"  placeholder="" formControlName="company_name">
        </div>
      </div>

      <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"   style="border-radius:12px;padding: 10px;">Company Reg No</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="reg_no">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">App Reg Date</label>
      </div>
      <div class="col-sm-9" >
        <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="app_regdate">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">Registering Mob No</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="reg_mobno">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">Email ID</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="email">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">Admin User Name</label>
      </div>
      <div class="col-sm-9" >
        <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="admin_usernm">
      </div>
    </div>

    <div class="row" style="padding-top: 5px;">
      <div class="col-sm-3" >
        <label class="form-control"  style="border-radius:12px;padding: 10px;">Admin Password</label>
      </div>
      <div class="col-sm-9" >
        <input type="password"  style="border-radius: 12px;" class="form-control" placeholder="" formControlName="admin_password">
      </div>
    </div>









  </div>

<br>
    <div class="container">
    <button type="submit" [disabled]="!companyForm.valid" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
  </div>
  <!-- <div class="container">
    <button type="submit" (onclick)="onSubmitted()" style="border-radius: 12px;" class="btn btn-lg btn-block">Skip and login</button>
  </div> -->

  </form>


</section>

</body>
</html>
