<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  <div class="container" style="padding-top:10px;margin-left: 1px;">
    <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
  </div>
  <section style="padding-top:30px">
  <div class="container">

    <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Customer Outstanding</p></b></button>
    <br>
  </div>

    <form [formGroup]="customerOutstandForm" (ngSubmit)="onSubmit()">
      <div class="container-sm ">

        <div class="row">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Date </label>

          </div>
          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="date">
          </div>
        </div>



          <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Report Date </label>

          </div>

          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="report_date">
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Customer Id </label>

          </div>

          <div class="col-sm-7" >
            <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Customer Name </label>

          </div>

          <div class="col-sm-7" >
            <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
          </div>
        </div>

        <br><br>
        <div class="container">
          <button type="submit" [disabled]="!customerOutstandForm.valid"  style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div>
      <br><br>


      <div class="container">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sl.no</th>
              <th>Date</th>
              <th>Ref No</th>
              <th>Description</th>
              <th>Inv amount</th>
              <th>Receipt amount</th>
              <th>Outstanding</th>
              <th>Over Due</th>
            </tr>
          </thead>
          <tbody>
            <tr   *ngFor="let customerOut of Receipt;">
              <td></td>
              <td>{{customerOut.date }}</td>
              <td>{{customerOut.internal_ref_no }}</td>
              <td>{{customerOut.account }}</td>
              <td>{{customerOut.inv_amount }}</td>
              <td>{{customerOut.rpt_amount }}</td>
              <td>{{customerOut.outstanding }}</td>
              <td>{{customerOut.over_due }}</td>
            </tr>


          </tbody>
        </table>
      </div>









    </div>
      <br>
  <div class="container ">


    </div>

  <br>

    </form>


  </section>
  </body>
