<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  <div class="container" style="padding-top:10px;margin-left: 1px;">
    <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
  </div>
  <section style="padding-top:30px">
  <div class="container">
    <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px; color: black;" >Receipts</p></b></button>

  </div>

    <form [formGroup]="SalesReceiptsForm" (ngSubmit)="onSubmit1()">
      <div class="container ">
        <div class="row" style="padding-top: 15px; " >
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Receipt Number </label>
            <!-- <input   type="text " style="border-radius:12px;" class="form-control" placeholder="Invoice Number" > -->
          </div>
          <div  class="col-sm-4" >
            <input   type="text " formControlName="receipt_number"style="border-radius:12px;" class="form-control" placeholder="" ng-required>
          </div>
          <div class="col-sm-2" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;"> Date</label>
            <!-- <input   type="date " style="border-radius:12px;" class="form-control" placeholder="Date"> -->
          </div>
          <div class="col-sm-3"  >
            <input   type="date" formControlName="date" style="border-radius: 12px;" class="form-control" placeholder="" required>
          </div>
        </div>
        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
             <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;"> Internal Ref.Number</label>
            <!-- <input   type="text " style="border-radius: 12px;" class="form-control" placeholder="Internal Ref.Number" > -->
          </div>
          <div class="col-sm-4" >
            <input   type="text" formControlName="internal_ref_no" style="border-radius: 12px;" class="form-control" placeholder="" required>
          </div>
          <div class="col-sm-2" >
             <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Due On</label>
            <!-- <input   type="number " style="border-radius: 12px;" class="form-control" placeholder="Cash/Cheque"> -->
          </div>
          <div class="col-sm-3" >
            <input   type="date" formControlName="due_on"style="border-radius: 12px;" class="form-control" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Credit Limit Amount </label>
            <!-- <input type="text " style="border-radius: 12px;" class="form-control" placeholder=" User ID" > -->
          </div>
          <div class="col-sm-4" >
            <input type="text" formControlName="credit_limit_amt"  style="border-radius: 12px;" class="form-control" placeholder="">
          </div>

          <div class="col-sm-2" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">User ID </label>
            <!-- <input type="text " style="border-radius: 12px;" class="form-control" placeholder=" User ID" > -->
          </div>
          <div class="col-sm-3" >
            <input type="text" formControlName="user_id"  style="border-radius: 12px;" class="form-control" placeholder="">
          </div>
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Account</label>
          </div>
          <div class="col-sm-4" >
            <select  formControlName="account" style="border-radius: 12px;" class="form-control" placeholder="">
              <option selected disabled value="">Choose....</option>
              <option>Customer Ledger</option>
            </select>
          </div>
        </div>
          <br><br>
        <div class="row" style="padding-top: 5px; padding-left: 100px; padding-right: 100px;">
          <div class="row" style="padding-top: 5px; padding-left: 100px; padding-right: 100px;">
            <div class="col" >
              <label class="form-control"  style="border-radius:12px;padding: 10px;">Custoer ID</label>
            </div>
            <div class="col" >
              <input type="text" formControlName="customerId" style="border-radius: 12px;" class="form-control" readonly>
            </div>
          </div>
<br>
            <div class="col" >
              <label class="form-control"  style="border-radius:12px;padding: 10px;">Customer Name</label>
            </div>
            <div class="col" >
            <select  formControlName="customer_id" (change)="setCustomerId($event)" style="border-radius: 12px;" class="form-control" placeholder="">
              <option *ngFor="let item of customers" value="{{item.id}}">{{item.customer_name}}</option>
            </select>
          </div>
        </div>

          <!-- <div class="col-sm-7" >
            <select  formControlName="customer_name" style="border-radius: 12px;" class="form-control" placeholder="">

              <option *ngFor="let item of Customer">{{item.customer_name}}</option>
            </select>
          </div> -->

          <br><br>

          <div class="container" formArrayName="items" >

            <table class="table table-bordered">
              <thead>
                <th>Sl no</th>
                <th> Invoice no </th>
                <th> Invoice Date </th>
                <th>Due Date</th>
                <th> Invoice amount </th>
                <th> Received amount </th>
                <th> Outstanding </th>
                <th> Discount </th>
                <th> Balance Amount </th>
                <th> Tick Space </th>
                <th> Partial </th>
              </thead>
              <tbody>

                <tr id='addr1' *ngFor="let field of items().controls; let i = index" [formGroupName]="i">
                  <td><input type="text" formControlName="si_no" class="form-control"/></td>
                    <td><input type="text"  formControlName="invoice_no" class="form-control"/></td>
                    <td><input type="date"  formControlName="invoice_date" class="form-control"/></td>
                    <td><input type="date"  formControlName="duedate" placeholder='D/M/Y' class="form-control price" step="0.00" min="0"/></td>
                    <td><input type="number"  formControlName="invoice_amt" (ngModelChange)="calcualtTotal()"placeholder='0.00' class="form-control qty" step="0" min="0"/></td>
                    <td><input type="number"  formControlName="received_amt" (ngModelChange)="calcualtTotal()"placeholder='0.00' class="form-control total" /></td>
                    <td><input type="number"  formControlName="outstanding"(ngModelChange)="calcualtTotal()" placeholder='0.00' class="form-control total" /></td>
                    <td><input type="text"  formControlName="discount"(ngModelChange)="calcualtTotal()" class="form-control"/></td>
                    <td><input type="text"  formControlName="balance_amt" class="form-control"/></td>
                    <td><input type="text"  formControlName="tick_space" class="form-control"/></td>
                    <td><input type="text"  formControlName="partial" class="form-control"/></td>
                </tr>

                <!-- <tr id='addr1'>
                  <td><input type="text" formControlName="si_no2" class="form-control"/></td>
                    <td><input type="text"  formControlName="invoice_no2" class="form-control"/></td>
                    <td><input type="date"  formControlName="invoice_date2" class="form-control"/></td>
                    <td><input type="date"  formControlName="duedate2" (ngModelChange)="calcualtTotal()"placeholder='D/M/Y' class="form-control price" step="0.00" min="0"/></td>
                    <td><input type="number"  formControlName="invoice_amt2"(ngModelChange)="calcualtTotal()" placeholder='0.00' class="form-control qty" step="0" min="0"/></td>
                    <td><input type="number"  formControlName="received_amt2"(ngModelChange)="calcualtTotal()" placeholder='0.00' class="form-control total" /></td>
                    <td><input type="number"  formControlName="outstanding2"(ngModelChange)="calcualtTotal()" placeholder='0.00' class="form-control total" /></td>
                    <td><input type="text"  formControlName="discount2" (ngModelChange)="calcualtTotal()"class="form-control"/></td>
                    <td><input type="text"  formControlName="balance_amt2"  (ngModelChange)="calcualtTotal()"class="form-control"/></td>
                    <td><input type="text"  formControlName="tick_space2"(ngModelChange)="calcualtTotal()" class="form-control"/></td>
                    <td><input type="text"  formControlName="partial2" class="form-control"/></td>
                </tr> -->
                <td>
                  <button class="btn btn-default" type="button" (click)="addMoreItem()">Add</button>
              </td>
                <td>
                  <button class="btn btn-default"  type="button" (click)="removeItem(itemsIndex)">Delete</button>
              </td>
                </tbody>
            </table>
          </div>


            <br>
          <div class="row" style="padding-top: 5px; ">
            <div class="col-sm-2" style="padding-left: 3px;">
              <label class="form-control"  style="border-radius:12px;padding: 10px;">Total Outstanding</label>
            </div>
            <div class="col-sm-4" >
              <input  type="text" formControlName="total1" style="border-radius: 12px;" class="form-control" name="labour_charge" placeholder='0.00'>
            </div>
            <div class="col-sm-6" style="padding-left: 3px;" >
              <input  type="text " style="border-radius: 12px;" class="form-control" name="total2" placeholder='Amount in words'>
            </div>
          </div>

          <div class="row" style="padding-top: 5px; ">
            <div class="col-sm-3" style="padding-left: 3px;" >
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Discount</label>
            </div>
            <div class="col" style="padding-left: 3px;" >
              <input type="text " formControlName="discount" (ngModelChange)="calcualtTotal()" style="border-radius: 12px;" class="form-control" name="discount" id="discount" placeholder="0">
            </div>
            <div class="col-sm-7" style="padding-left: 3px;" >
              <input  type="text " style="border-radius: 12px;" class="form-control" name="total2" placeholder='Amount in words'>
            </div>
          </div>
          <div class="row" style="padding-top: 5px; ">
            <div class="col-sm-2" style="padding-left: 3px;">
              <label class="form-control"  style="border-radius:12px;padding: 10px;">Total </label>
            </div>
            <div class="col-sm-3" >
              <input  type="text" formControlName="total2" style="border-radius: 12px;" name="total3" placeholder='0.00' class="form-control" id="total3">
            </div>
            <div class="col-sm-7" style="padding-left: 3px;" >
              <input  type="text " style="border-radius: 12px;" class="form-control" name="total4" placeholder='Amount in words'>
            </div>
          </div>

          <div class="row" style="padding-top: 5px; ">
            <div class="col-sm-3" >
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Paid Amount</label>
            </div>
            <div class="col" >
              <input type="text " formControlName="paid_amount"  style="border-radius: 12px;" class="form-control" placeholder="0">
            </div>
          </div>

          <div class="row" style="padding-top: 5px; ">
            <div class="col-sm-2" style="padding-left: 3px;">
              <label class="form-control"  style="border-radius:12px;padding: 10px;">Total </label>
            </div>
            <div class="col-sm-3" >
              <input  type="text" formControlName="total3" style="border-radius: 12px;" name="total3" placeholder='0.00' class="form-control" id="total3">
            </div>
            <div class="col-sm-7" style="padding-left: 3px;" >
              <input  type="text " style="border-radius: 12px;" class="form-control" name="total4" placeholder='Amount in words'>
            </div>
          </div>



        </div>
      <br>
      <div class="container">
        <button type="submit"  [disabled]="! SalesReceiptsForm.valid" style="border-radius: 12px; font-size:25px; " class="  btn btn-lg btn-block">SUBMIT</button>
      </div>
    </form>
  </section>
</body>




