<head>

    <style>
      body
      {
        font-family: 'Times New Roman', Times, serif;
      }
    </style>
  </head>
  <body>
    <div class="container" style="padding-top:10px;margin-left: 1px;">
      <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
    </div>

      <section style="padding-top:30px">
      <div class="container">

        <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Manual Journal Entry</p></b></button>
        <br>
      </div>

        <form [formGroup]="ManualJournalForm" (ngSubmit)="onSubmit()" >
          <div class="container-sm ">

          <div class="container">
            <div class="row" >
              <div class="col-sm-2" >
                <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Ref No:</label>
              </div>
              <div  class="col-sm-3" >
                <input type="text " style="border-radius:12px;width: 5cm;" class="form-control" formControlName="internal_ref_no" placeholder="">
              </div>
            </div><br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="text-align: center;">Ledger</th>
                  <th style="text-align: center;">Debit Amount</th>
                  <th style="text-align: center;">Credit Amount</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                    <th colspan="2" style="border-radius:12px;text-align: center;">Debit Ledger</th>
                    <th>
                      <button class="btn btn-default" type="button" (click)="addDebitLedgerRow()">Add</button>
                  </th>
                </tr>

                <tr>
                  <td formArrayName="debit_ledgers" colspan="3"><table>
                    <tr *ngFor="let field of debitLedgers().controls; let i = index"      [formGroupName]="i">
                      <td>
                        <select type="text" style="border-radius:12px;"   formControlName="ledger_id" class="form-control"  >
                          <option  *ngFor="let item of Ledger"  value="{{item.id}}">{{item.ledger_name}}</option>

                        </select>
                      </td>
                      <td>
                        <input type="text" style="border-radius:12px;" formControlName="amount" class="form-control price" step="0.00" min="0" placeholder="0.00" />
                      </td>
                      <td>
                        <button class="btn btn-default"  type="button" (click)="removeDebitLedger(i)">Delete</button>
                      </td>
                    </tr>
                  </table></td>
                </tr>

                <tr>
                    <th colspan="2" style="border-radius:12px;text-align: center;">Credit Ledger</th>
                    <th>
                      <button class="btn btn-default" type="button" (click)="addCreditLedgerRow()">Add</button>
                  </th>
                </tr>
                <tr>
                  <td formArrayName="credit_ledgers" colspan="3"><table>
                    <tr *ngFor="let field of creditLedgers().controls; let j = index" [formGroupName]="j">
                      <td>
                        <select type="text" style="border-radius:12px;"  formControlName="ledger_id" class="form-control"  >
                          <option *ngFor="let item of Ledger"  value="{{item.id}}">{{item.ledger_name}}</option>

                        </select>
                      </td>
                      <td>
                        <input type="text" style="border-radius:12px;"  formControlName="amount" class="form-control price" step="0.00" min="0" placeholder="0.00" />
                      </td>
                      <td>
                        <button class="btn btn-default"  type="button" (click)="removeCreditLedger(i)">Delete</button>
                      </td>
                    </tr>
                  </table></td>
                </tr>

                <tr>
                    <th style="border-radius:12px;text-align: center;">Total</th>
                    <td><input type="number" style="border-radius:12px;"  formControlName="debtotal" placeholder='0.00' class="form-control" id="total_db" readonly /></td>
                    <td><input type="number" style="border-radius:12px;" formControlName="cretotal" placeholder='0.00' class="form-control" id="total_cr" readonly /></td>
                </tr>




                </tbody>
            </table>
          </div>









        </div>
          <br>
      <div class="container ">


        </div>

      <br>
          <div class="container">
          <button type="submit" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div>
        </form>


      </section>
      </body>








