<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  <div class="container" style="padding-top:10px;margin-left: 1px;">
    <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
  </div>

    <section style="padding-top:30px">
    <div class="container">

      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Ledger Statement</p></b></button>
      <br>
    </div>

      <form [formGroup]="LedgerStatementForm" (ngSubmit)="onSubmit()" >
        <div class="container-sm ">

        <div class="row">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; ">From Date </label>

          </div>
          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="date">
          </div>
        </div>
        <!-- <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Ledger Id </label>

          </div>

          <div class="col-sm-7" >
            <input type="text" style="border-radius:12px;" class="form-control" placeholder="" formControlName="ledger_id">
          </div>
        </div> -->
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> To Date </label>

          </div>

          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="report_date">
          </div>
        </div>


        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Ledger Name </label>

          </div>

          <div class="col-sm-7" >
            <select  formControlName="ledger_id" style="border-radius: 12px;" class="form-control" placeholder="">


              <option *ngFor="let item of ledgerNames;" value="{{item.id}}">{{item.ledger_name}}</option>
              <option>Sales Accounts</option>
              <option>Cash/Bank</option>
              <option>Purchase Accounts</option>
              <option>Customer Ledger</option>
              <option *ngFor="let item of customers;" value="{{item.id}}">{{item.customer_name}}</option>
              <option *ngFor="let item of suppliers;" value="{{item.id}}">{{item.supplier_name}}</option>
          </select>   </div>
        </div>
        <br><br>

        <div class="container">
          <button type="submit" [disabled]="!LedgerStatementForm.valid" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div>

        <br><br>


        <div class="container">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>SI.no</th>
                <th>Date</th>
                <!-- <th>Ledger ID</th> -->
                <th>Ledger Name</th>
                <th>Ledger Category</th>
                <th>Opening Balance</th>
                <th>Debit Amount</th>
                <th>Credit Amount</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>


              <tr *ngFor="let item of journals; let i = index">
                <td></td>
                <td>{{item.date}}</td>
                <!-- <td>{{item.ledger_id}}</td> -->
                <td>{{item.ledger_name}}</td>
                <td>{{item.ledger_category}}</td>
                 <td></td>
                 <!-- <td *ngIf="item.ledger_name == 'cash'">{{item.opening_balance}}</td> -->
                <td>{{item.debit}}</td>
                 <td>{{item.credit}}</td>
                <td *ngIf="item.type == 'DEBIT'">{{ item.debit }}(dr)</td>
                <td *ngIf="item.type == 'CREDIT'">{{ item.credit }}(cr)</td>
              </tr>

              <tr *ngFor="let item of cash; let i = index">
                <!-- <td>{{i+1}}</td> -->
                <td>{{item.date}}</td>
                <!-- <td>{{item.ledger.ledger_id}}</td> -->
                <td>{{item.account}}</td>
                <td></td>
                <td></td>
                <td>{{item.total3}}</td>
                 <td></td>
                 <!-- <td *ngIf="item.ledger_name == 'cash'">{{item.opening_balance}}</td> -->



              </tr>

              <tr *ngFor="let item of cash;let i=index">
                <td>{{i+1}}</td>

                <td>{{item.date}}</td>

                 <td>{{item.account_new}}</td>
                 <td></td>
                 <td></td>
                 <td></td>
                <td>{{item.total4}}</td>
                 <td></td>


              </tr>





            </tbody>
          </table>
        </div>









      </div>
        <br>
    <div class="container ">


      </div>

    <br>

      </form>


    </section>
    </body>






