<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  <div class="container" style="padding-top:10px;margin-left: 1px;">
    <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
  </div>
  <section style="padding-top:30px">
    <div class="container">
      <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px; color: black;" >Purchase Return</p></b></button>

    </div>
    <form [formGroup]="PurchaseReturnForm" (ngSubmit)="onSubmit()">
      <div class="container ">
        <div class="row" style="padding-top: 15px; " >
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Invoice Number </label>
            <!-- <input   type="text " style="border-radius:12px;" class="form-control" placeholder="Invoice Number" > -->
          </div>
          <div  class="col-sm-4" >
            <input   type="text " formControlName="invoice_number"style="border-radius:12px;" class="form-control" placeholder="" ng-required>
          </div>
          <div class="col-sm-2" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;"> Date</label>
            <!-- <input   type="date " style="border-radius:12px;" class="form-control" placeholder="Date"> -->
          </div>
          <div class="col-sm-3"  >
            <input   type="date" formControlName="date" style="border-radius: 12px;" class="form-control" placeholder="" required>
          </div>
        </div>
        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
             <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;"> Internal Ref.Number</label>
            <!-- <input   type="text " style="border-radius: 12px;" class="form-control" placeholder="Internal Ref.Number" > -->
          </div>
          <div class="col-sm-4" >
            <input   type="text" formControlName="internal_ref_no" style="border-radius: 12px;" class="form-control" placeholder="" required>
          </div>
          <div class="col-sm-2" >
             <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Due On</label>
            <!-- <input   type="number " style="border-radius: 12px;" class="form-control" placeholder="Cash/Cheque"> -->
          </div>
          <div class="col-sm-3" >
            <input   type="date" formControlName="due_on"style="border-radius: 12px;" class="form-control" placeholder="" >
          </div>
        </div>
        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Credit Limit Amount </label>
            <!-- <input type="text " style="border-radius: 12px;" class="form-control" placeholder=" User ID" > -->
          </div>
          <div class="col-sm-4" >
            <input type="text" formControlName="credit_limit_amt"  style="border-radius: 12px;" class="form-control" placeholder="">
          </div>

          <div class="col-sm-2" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">User ID </label>
            <!-- <input type="text " style="border-radius: 12px;" class="form-control" placeholder=" User ID" > -->
          </div>
          <div class="col-sm-3" >
            <input type="text" formControlName="user_id"  style="border-radius: 12px;" class="form-control" placeholder="">
          </div>
        </div>

          <br><br>
          <div class="row" style="padding-top: 5px; padding-left: 100px; padding-right: 100px;">
            <div class="col-sm-5" >
              <label class="form-control"  style="border-radius:12px;padding: 10px;">Supplier ID</label>
            </div>
            <div class="col-sm-7" >
              <input type="text" formControlName="supp_id" style="border-radius: 12px;" class="form-control" >
            </div>
          </div>

          <div class="row" style="padding-top: 5px; padding-left: 100px; padding-right: 100px;">
            <div class="col-sm-5" >
              <label class="form-control"  style="border-radius:12px;padding: 10px;">Supplier Name</label>
            </div>
            <div class="col-sm-7" >
              <input type="text"  style="border-radius: 12px;" formControlName="supp_name" class="form-control" >
            </div>
          </div>


        <br><br>


          <div class="container" formArrayName="itemsPR" style="padding-left: 200px;padding-right: 180px;">
            <!-- Control the column width, and how they should appear on different devices -->
            <div class="row" *ngFor="let field of itemsPR().controls; let i = index" [formGroupName]="i">
              <div><select  formControlName="item_id" style="border-radius: 12px;" class="form-control" placeholder="">
                <option selected disabled value="">Choose....</option>
                <option *ngFor="let field of Items" value="{{field.id}}">{{field.item_name}}</option>
              </select>Item</div>
              <div><input type="number" min="0"
                  (ngModelChange)="calcualtTotal()" formControlName="price"
                  style="border-radius: 12px;width: 150px" class="form-control" >Price</div>
              <div><input type="number" min="0"
                  (ngModelChange)="calcualtTotal()" formControlName="quantity"
                  style="border-radius: 12px;width: 150px" class="form-control" >Quantity</div>
              <div><input type="number" min="0" formControlName="amount" style="border-radius: 12px;width: 150px" class="form-control" >Amount</div>
              <div>  <select  formControlName="sales_ex" style="border-radius: 12px;" class="form-control" placeholder="">
                <option selected disabled value=""></option>
                <option *ngFor="let field of employees" value="{{field.id}}">{{field.emp_name}}</option>
              </select>Sales executive</div>
              <div>  <select  formControlName="job_id" style="border-radius: 12px;" class="form-control" placeholder="">
                <option selected disabled value=""></option>
                <option *ngFor="let field of jobs" value="{{field.id}}">{{field.job_desc}}</option>
              </select>Job</div>
              </div>




            <td>
              <button class="btn btn-default" type="button" (click)="addMoreItem()">Add</button>
          </td>
            <td>
              <button class="btn btn-default"  type="button" (click)="removeItem(itemsIndex)">Delete</button>
          </td>
        </div>
            <br>
            <div class="row" style="padding-top: 5px; ">
              <div class="col-sm-2" style="padding-left: 3px;">
                <label class="form-control"  style="border-radius:12px;padding: 10px;">Labour Charge</label>
              </div>
              <div class="col-sm-4" >
                <input type="number" min="0"
                  (ngModelChange)="calcualtTotal()" formControlName="labour_charge"
                  style="border-radius: 12px;" class="form-control" placeholder="0.00">
              </div>
              <div class="col-sm-2" style="padding-left: 3px;">
              <label class="form-control"  style="border-radius:12px;padding: 10px;"> Other Charges</label>
              </div>
              <div class="col-sm-4" >
                <input type="number" min="0"
                  (ngModelChange)="calcualtTotal()" formControlName="other_charge"
                  style="border-radius: 12px;" class="form-control" placeholder="0.00">
              </div>
            </div>

            <div class="row" style="padding-top: 5px; ">
              <div class="col-sm-2" style="padding-left: 3px;">
                <label class="form-control"  style="border-radius:12px;padding: 10px;">Total </label>
              </div>
              <div class="col-sm-3" >
                <input  type="text" readonly formControlName="total1" style="border-radius: 12px;" class="form-control" placeholder="0.00">
              </div>
              <div class="col-sm-7" style="padding-left: 3px;" >
                <input  type="text"  style="border-radius: 12px;" class="form-control" placeholder="Amount in words">
              </div>
            </div>

            <div class="row" style="padding-top: 5px; ">
              <div class="col-sm-3" >
                <label class="form-control"  style="border-radius:12px;padding: 10px;"> Discount</label>
              </div>
              <div class="col" >
                <input type="number" min="0"
                  (ngModelChange)="calcualtTotal()" formControlName="discount"
                  style="border-radius: 12px;" class="form-control" placeholder="0.00">
              </div>
            </div>

          <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-2" style="padding-left: 3px;">
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Total </label>
          </div>
          <div class="col-sm-3" >
            <input  type="text" formControlName="total2" readonly=""  style="border-radius: 12px;" class="form-control" placeholder="0.00">
          </div>
          <div class="col-sm-7" style="padding-left: 3px;" >
            <input  type="text" style="border-radius: 12px;" class="form-control" placeholder="Amount in words">
          </div>
        </div>

        <!-- <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-2" style="padding-left: 3px;">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Total</label>
          </div>
          <div class="col-sm-3" >
            <input  type="text"  formControlName="total3"style="border-radius: 12px;" class="form-control" placeholder="0.00">
          </div>
          <div class="col-sm-7" style="padding-left: 3px;" >
            <input  type="text " style="border-radius: 12px;" class="form-control" placeholder="Amount in words">
          </div>
        </div> -->


        </div>
      <br>
      <div class="container">
        <button type="submit" [disabled]="!  PurchaseReturnForm.valid" style="border-radius: 12px; font-size:25px; " class="  btn btn-lg btn-block">SUBMIT</button>
      </div>
    </form>
  </section>
</body>




