<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  
 <div class="container" style="padding-top:10px;margin-left: 1px;">
  <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
</div>

    <section style="padding-top:30px">
    <div class="container">

      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Job Statement</p></b></button>
      <br>
    </div>

      <form [formGroup]="JobStatementForm" (ngSubmit)="onSubmit()">
        <div class="container-sm ">

          <div class="row">
            <div class="col-sm-5" >
              <label class="form-control"  style="border-radius:12px;padding: 10px; "> Date </label>
  
            </div>
            <div class="col-sm-7" >
              <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="date">
            </div>
          </div>



          <div class="row" style="padding-top: 5px;">
            <div class="col-sm-5" >
              <label class="form-control"  style="border-radius:12px;padding: 10px; ">  Report Date </label>
  
            </div>
  
            <div class="col-sm-7" >
              <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="report_date">
            </div>
          </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Job </label>

          </div>

          <div class="col-sm-7" >
            <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="name">
          </div>
        </div>

        



        <br>
        <div class="container">
          <button type="submit" [disabled]="!JobStatementForm.valid" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div>
        <br>
        <div class="container">

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>SI.no</th>
                <th>Job ID</th>
                <th>Job Name</th>
                <th>Job Discription</th>
                <th>Income Amount</th>
                <th>Expence Amount</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cash of Cash;">
                <td></td>
                <td>{{cash.job_id}}</td>
                <td>{{cash.job_name}}</td>
                <td>{{cash.job_details}}</td>
                <td>{{cash.amount}}</td>
                <td>{{cash.amount1}}</td>


              </tr>
              <tr *ngFor="let cash1 of PCash;">
                <td></td>
                <td>{{cash1.job_id}}</td>
                <td>{{cash1.job_name}}</td>
                <td>{{cash1.job_details}}</td>
                <td>{{cash1.amount1}}</td>
                <td>{{cash1.amount}}</td>
                
              </tr>

              <tr *ngFor="let cash4 of credit;">
                <td></td>
                <td>{{cash4.job_id}}</td>
                <td>{{cash4.job_name}}</td>
                <td>{{cash4.job_details}}</td>
                <td>{{cash4.amount}}</td>
                <td>{{cash4.amount1}}</td>



              </tr>


              <tr *ngFor="let cash5 of pcredit;">
                <td></td>
                <td>{{cash5.job_id}}</td>
                <td>{{cash5.job_name}}</td>
                <td>{{cash5.job_details}}</td>
                <td>{{cash5.amount1}}</td>
                <td>{{cash5.amount}}</td>
                

              </tr>

            </tbody>
          </table>
        </div>









      </div>
        <br>
    <div class="container ">


      </div>

    <br>

      </form>


    </section>
    </body>




