<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  <div class="container" style="padding-top:10px;margin-left: 1px;">
    <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
  </div>

  <section style="padding-top:30px">
  <div class="container">

    <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Customer Invoice &
      Receipt Register</p></b></button>
    <br>
  </div>

    <form [formGroup]="CustomerInvoRForm" (ngSubmit)="onSubmit()">
      <div class="container-sm ">

        <div class="row">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Date </label>

          </div>
          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="date">
          </div>
        </div>



          <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Report Date </label>

          </div>

          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="report_date">
          </div>
        </div>




        <br><br>
        <div class="container">
          <button type="submit" [disabled]="!CustomerInvoRForm.valid"  style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div>
      <br><br>


      <div class="container">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sl.no</th>
              <th>Type</th>
              <th>Date</th>
              <th>Ref No</th>
              <th>Customer</th>
              <th>Description</th>
              <th>Amount</th>

              <th>Sales Ex</th>
              <th>User Id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of CustomerIR;">
              <td></td>
              <td>{{customer.account }}</td>
              <td>{{customer.date }}</td>
              <td>{{ customer.internal_ref_no }}</td>
              <td>{{customer.customer_name}}</td>
              <td>{{customer.description}}</td>
              <td>{{customer.amount}}</td>
              <td>{{customer.sales_executive}}</td>
              <td>{{customer.user_id}}</td>

            </tr>
            
            

          </tbody>
        </table>
      </div>









    </div>
      <br>
  <div class="container ">


    </div>

  <br>

    </form>


  </section>
  </body>

