<div class="row" [formGroup]="form">
  <div> <input type="text" formControlName="item_id" style="border-radius: 12px;width: 150px" class="form-control">Item
    ID</div>
  <div> <input type="text" formControlName="item_details" style="border-radius: 12px;width: 150px"
      class="form-control">Item Details</div>
  <div><input type="number" min="0" (ngModelChange)="calcualtTotal()"
      formControlName="price"
      style="border-radius: 12px;width: 150px" class="form-control">Price-1</div>
  <div><input type="number" min="0" (ngModelChange)="calcualtTotal()" formControlName="quantity"
      style="border-radius: 12px;width: 150px" class="form-control">Quantity</div>
  <div><input type="number" min="0" formControlName="amount" style="border-radius: 12px;width: 150px;"
      class="form-control">Amount</div>
  <div> <input type="text" formControlName="sales_ex" style="border-radius: 12px;width: 150px;" class="form-control">
    Sales Executive</div>
  <div> <input type="text" formControlName="job" style="border-radius: 12px;width: 150px" class="form-control">JOB
  </div>
</div>
