<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container" style="margin-left: 1px;" *ngIf="isLoggedIn">
  <button type="button" (click)="logout()" style="border-radius:12px; margin-left: 1400px;" class="back"><b><p style="font-size: 20px;">Logout</p></b></button>
</div>
<!-- <div  *ngIf="isLoggedIn"><a href="#" (click)="logout()">Logout</a></div> -->
<router-outlet></router-outlet>
