
<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>

<body>
  <div class="container" style="padding-top:10px;margin-left: 1px;">
    <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
  </div>

    <section style="padding-top:30px">
    <div class="container">

      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Stock Balance</p></b></button>
      <br>
    </div>

      <form [formGroup]=" stockbalanceForm" (ngSubmit)="onSubmit()">
        <div class="container-sm ">

        <div class="row">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Date </label>

          </div>
          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="date">
          </div>
        </div>



          <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; ">  Report Date </label>

          </div>

          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="report_date">
          </div>
        </div>

        <br><br>

        <div class="container">
          <button type="submit" [disabled]="!stockbalanceForm.valid" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div>


        <br><br>


        <div class="container">

          <table class="table table-bordered" >
            <thead>
              <tr>
                <th>Sl.no</th>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Item Barcode</th>
                <th>Item Category </th>
                <th>Stock Remaining </th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cash of Cash;">
                <td></td>
                <td>{{cash.item_id}}</td>
                <td>{{cash.item_name}}</td>
                <td>{{cash.item_details}}</td>
                <td>{{cash.barcode}}</td>
                <td>{{cash.category}}</td>
                <td>{{cash.remaining}}</td>
               
                


              </tr>
              <tr *ngFor="let cash1 of PCash;">
                <td></td>
                <td>{{cash1.item_id}}</td>
                <td>{{cash1.item_name}}</td>
                <td>{{cash1.item_details}}</td>
                <td>{{cash1.quantity}}</td>
                <td>{{cash1.barcode}}</td>
                <td>{{cash1.category}}</td>
                <td>{{cash1.remaining}}</td>
              </tr>

              <tr *ngFor="let cash4 of credit;">
                <td></td>
                <td>{{cash4.item_id}}</td>
                <td>{{cash4.item_name}}</td>
                <td>{{cash4.item_details}}</td>
                <td>{{cash4.quantity}}</td>
                <td>{{cash4.barcode}}</td>
                <td>{{cash4.category}}</td>
                <td>{{cash4.remaining}}</td>



              </tr>


              <tr *ngFor="let cash5 of pcredit;">
                <td></td>
                <td>{{cash5.item_id}}</td>
                <td>{{cash5.item_name}}</td>
                <td>{{cash5.item_details}}</td>
                <td>{{cash5.quantity}}</td>
                <td>{{cash.barcode}}</td>
                <td>{{cash.barcode}}</td>
                <td>{{cash5.balance}}</td>



              </tr>



            </tbody>
          </table>
        </div>









      </div>
        <br>
    <div class="container ">


      </div>

    <br>
        
      </form>


    </section>
    </body>





