<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  <section style="padding-top:30px">
  <div class="container">

    <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Customer Invoice History</p></b></button>
    <br>
  </div>

    <form [formGroup]="customerInviceForm" (ngSubmit)="onSubmit()" >
      <div class="container-sm ">

        <div class="row">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Report Date </label>

          </div>
          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" name="pswd">
          </div>
        </div>



          <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Invoice Number </label>

          </div>

          <div class="col-sm-7" >
            <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
          </div>
        </div>
        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Customer Id </label>

          </div>

          <div class="col-sm-7" >
            <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
          </div>
        </div>

        <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Customer Name </label>

          </div>

          <div class="col-sm-7" >
            <input type="text"  style="border-radius:12px;" class="form-control" placeholder="" name="">
          </div>
        </div>

        <br><br>
        <div class="container">
          <button type="submit" [disabled]="!customerInviceForm.valid"  style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div>
      <br><br>


      <div class="container">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sl.no</th>
              <th>Date</th>
              <th>Ref No</th>
              <th>Description</th>
              <th>Item</th>
              <th>Quantity</th>
              <th>Job</th>
              <th>Sales Staff</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr   *ngFor="let customerIN of customerIN;">
              <td></td>
              <td>{{customerIN.date}}</td>
              <td>{{customerIN.internal_ref_no}}</td>
              <td></td>
              <td>{{customerIN.item_details1}}</td>
              <td>{{customerIN.qty}}</td>
              <td>{{customerIN.job1}}</td>
              <td>{{customerIN.sales_ex1}}</td>
              <td>{{customerIN.total}}</td>
            </tr>
            <tr   *ngFor="let customerINn of customerIN;">
              <td></td>
              <td>{{customerINn.date}}</td>
              <td>{{customerINn.internal_ref_no}}</td>
              <td></td>
              <td>{{customerINn.item_details2}}</td>
              <td>{{customerINn.quantity2}}</td>
              <td>{{customerINn.job2}}</td>
              <td>{{customerINn.sales_ex2}}</td>
              <td>{{customerINn.amount2}}</td>
            </tr>
            <tr>
              <td class="hide">hide</td>
              <td class="hide"></td>
              <td class="hide"></td>
              <td class="hide"></td>

              <td class="hide"></td>
              <td class="hide"></td>
              <td class="hide"></td>
              <p>Balance amount</p>
              <td ></td>
            </tr>

          </tbody>
        </table>
      </div>









    </div>
      <br>
  <div class="container ">


    </div>

  <br>

    </form>


  </section>
  </body>
