<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  <div class="container" style="padding-top:10px;margin-left: 1px;">
    <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
  </div>
  <section style="padding-top:30px">
    <div class="container">
      <button type="button"  style="border-radius:12px;" class="btn  btn-lg btn-block"><b><p style="font-size: 50px; color: black;" >Cash Sales</p></b></button>

    </div>

    <form [formGroup]="cashSaleForm" (ngSubmit)="onSubmit()" >
      <div class="container ">

        <div class="row" style="padding-top: 15px; " >

          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Invoice Number</label>
          </div>
          <div  class="col-sm-4" >
            <input type="text " style="border-radius:12px;" class="form-control" formControlName="invoice_number" placeholder="">
          </div>
          <div class="col-sm-2" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Date</label>
          </div>
          <div class="col-sm-3"  >
            <input  type="date" style="border-radius: 12px;" formControlName="date"class="form-control" placeholder="">
          </div>
        </div>

        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Internal Ref.Number</label>
          </div>
          <div class="col-sm-4" >
            <input   type="text" formControlName="internal_ref_no" style="border-radius: 12px;" class="form-control" placeholder="">
          </div>
          <div class="col-sm-2" >
            <label class="form-control" style="border-radius:12px;padding: 10px;color: white;">Cash / Cheque</label>
          </div>
          <div class="col-sm-3" >
            <input  type="text" readonly="" formControlName="cash" style="border-radius: 12px;" class="form-control" placeholder="0.00">
          </div>
        </div>

        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">User ID</label>
          </div>
          <div class="col-sm-4" >
            <input type="text" formControlName="user_id" style="border-radius: 12px;" class="form-control" placeholder="">
          </div>
          <div class="col-sm-2" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;color: white;">Account</label>
          </div>
          <div class="col-sm-3" >
            <select  formControlName="account" style="border-radius: 12px;" class="form-control" placeholder="">
              <option selected disabled value="">Choose....</option>
              <option>Sales Accounts</option>
            </select>
            </div>
        </div>

        <br><br>
        <div class="row" style="padding-top: 5px; padding-left: 100px; padding-right: 100px;">
          <div class="row" style="padding-top: 5px; padding-left: 100px; padding-right: 100px;">
            <div class="col" >
              <label class="form-control"  style="border-radius:12px;padding: 10px;">Custoer ID</label>
            </div>
            <div class="col" >
              <input type="text" formControlName="customerId" style="border-radius: 12px;" class="form-control" readonly>
            </div>
          </div>
<br>
            <div class="col" >
              <label class="form-control"  style="border-radius:12px;padding: 10px;">Customer Name</label>
            </div>
            <div class="col" >
            <select  formControlName="customer_id" (change)="setCustomerId($event)" style="border-radius: 12px;" class="form-control" placeholder="">
              <option *ngFor="let item of customers" value="{{item.id}}">{{item.customer_name}}</option>
            </select>
          </div>
        </div>
        <br><br>

        <div class="container" formArrayName="items" style="padding-left: 200px;padding-right: 180px;">
          <!-- Control the column width, and how they should appear on different devices -->
          <div class="row" *ngFor="let field of items().controls; let i = index" [formGroupName]="i">
            <div><select  formControlName="item_id" style="border-radius: 12px;" class="form-control" placeholder="">
              <option selected disabled value="">Choose....</option>
              <option *ngFor="let field of Items" value="{{field.item_id}}">{{field.item_details1}}</option>
            </select>Item</div>
            <div><input type="number" min="0"
                (ngModelChange)="calcualtTotal()" formControlName="price"
                style="border-radius: 12px;width: 150px" class="form-control" >Price</div>
            <div><input type="number" min="0"
                (ngModelChange)="calcualtTotal()" formControlName="quantity"
                style="border-radius: 12px;width: 150px" class="form-control" >Quantity</div>
            <div><input type="number" min="0" formControlName="amount" style="border-radius: 12px;width: 150px" class="form-control" >Amount</div>
            <div>  <select  formControlName="sales_ex" style="border-radius: 12px;" class="form-control" placeholder="">
              <option selected disabled value=""></option>
              <option *ngFor="let field of employees" value="{{field.sales_ex_id}}">{{field.emp_name}}</option>
            </select>Sales executive</div>
            <div>  <select  formControlName="job" style="border-radius: 12px;" class="form-control" placeholder="">
              <option selected disabled value=""></option>
              <option *ngFor="let field of jobs" value="{{field.job_id}}">{{field.job_desc}}</option>
            </select>Job</div>
            </div>




          <td>
            <button class="btn btn-default" type="button" (click)="addMoreItem()">Add</button>
        </td>
          <td>
            <button class="btn btn-default"  type="button" (click)="removeItem(itemsIndex)">Delete</button>
        </td>
      </div>

          <br>
        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-2" style="padding-left: 3px;">
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Labour Charge</label>
          </div>
          <div class="col-sm-4" >
            <input type="number" min="0"
              (ngModelChange)="calcualtTotal()" formControlName="labour_charge"
              style="border-radius: 12px;" class="form-control" placeholder="0.00">
          </div>
          <div class="col-sm-2" style="padding-left: 3px;">
          <label class="form-control"  style="border-radius:12px;padding: 10px;"> Other Charges</label>
          </div>
          <div class="col-sm-4" >
            <input type="number" min="0"
              (ngModelChange)="calcualtTotal()" formControlName="other_charge"
              style="border-radius: 12px;" class="form-control" placeholder="0.00">
          </div>
        </div>

        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-2" style="padding-left: 3px;">
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Total </label>
          </div>
          <div class="col-sm-3" >
            <input  type="text" readonly formControlName="total1" style="border-radius: 12px;" class="form-control" placeholder="0.00">
          </div>
          <div class="col-sm-7" style="padding-left: 3px;" >
            <input  type="text"  style="border-radius: 12px;" class="form-control" placeholder="Amount in words">
          </div>
        </div>

        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-3" >
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Discount</label>
          </div>
          <div class="col" >
            <input type="number" min="0"
              (ngModelChange)="calcualtTotal()" formControlName="discount"
              style="border-radius: 12px;" class="form-control" placeholder="">
          </div>
        </div>

        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-2" style="padding-left: 3px;">
            <label class="form-control"  style="border-radius:12px;padding: 10px;">Total </label>
          </div>
          <div class="col-sm-3" >
            <input  type="text" formControlName="total2" readonly=""  style="border-radius: 12px;" class="form-control" placeholder="0.00">
          </div>
          <div class="col-sm-7" style="padding-left: 3px;" >
            <input  type="text" style="border-radius: 12px;" class="form-control" placeholder="Amount in words">
          </div>
        </div>

        <div class="row" style="padding-top: 5px; ">
          <div class="col-sm-2" style="padding-left: 3px;">
            <label class="form-control"  style="border-radius:12px;padding: 10px;"> Total</label>
          </div>
          <div class="col-sm-3" >
            <input  type="text"  formControlName="total3"style="border-radius: 12px;" class="form-control" placeholder="0.00">
          </div>
          <div class="col-sm-7" style="padding-left: 3px;" >
            <input  type="text " style="border-radius: 12px;" class="form-control" placeholder="Amount in words">
          </div>
        </div>

      </div>
          <br>
        <div class="container">
        <button type="submit"  [disabled]="!cashSaleForm.valid" style="border-radius: 12px; font-size:25px; " class="  btn btn-lg btn-block">SUBMIT</button>
        </div>
    </form>
  </section>

</body>



