
<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>

<body>

 <div class="container" style="padding-top:10px;margin-left: 1px;">
    <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
  </div>

    <section style="padding-top:30px">
    <div class="container">

      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Stock Adjustment</p></b></button>
      <br>
    </div>

      <form [formGroup]="StockAdjustmentForm" (ngSubmit)="onSubmit()">
        <div class="container-sm ">

        <div class="row">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Date </label>

          </div>
          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="date">
          </div>
        </div>



          <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; ">  Report Date </label>

          </div>

          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="report_date">
          </div>
        </div>




        <br><br>
        <div class="container">
          <button type="submit" [disabled]="!StockAdjustmentForm.valid" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div>
        <br><br>


        <div class="container">

          <table class="table table-bordered" >
            <thead>
              <tr>
                <th>Sl.no</th>
                <th>Item ID</th>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Stock +</th>
                <th>Stock - </th>
                <th>Cost </th>
                <th> Amount</th>
                <th> Effecting Ledger</th>
                <th> Reason for Adjustment</th>


              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cash of Cash;">
                <td></td>
                <td>{{cash.item_id}}</td>
                <td>{{cash.item_name}}</td>
                <td>{{cash.item_details}}</td>
                <td>{{cash.quantity1}}</td>
                <td>{{cash.quantity}}</td>

                <td>{{cash.price}}</td>
                <td>{{cash.amount}}</td>
                <td>{{cash.account}}</td>
                <td></td>


              </tr>
              <tr *ngFor="let cash1 of PCash;">
                <td></td>
                <td>{{cash1.id}}</td>
                <td>{{cash1.item_name}}</td>
                <td>{{cash1.item_details}}</td>

                <td>{{cash1.quantity}}</td>

                <td>{{cash1.price}}</td>
                <td>{{cash1.amount}}</td>
                <td>{{cash1.account}}</td>
                <td></td>
              </tr>

              <tr *ngFor="let cash4 of credit;">
                <td></td>
                <td>{{cash4.id}}</td>
                <td>{{cash4.item_name}}</td>
                <td>{{cash4.item_details}}</td>
<td></td>
                <td>{{cash4.quantity}}</td>

                <td>{{cash4.price}}</td>
                <td>{{cash4.amount}}</td>
                <td>{{cash4.account}}</td>
                <td></td>



              </tr>


              <tr *ngFor="let cash5 of pcredit;">
                <td></td>
                <td>{{cash5.id}}</td>
                <td>{{cash5.item_name}}</td>
                <td>{{cash5.item_details}}</td>

                <td>{{cash5.quantity}}</td>

                <td>{{cash5.price}}</td>
                <td>{{cash5.amount}}</td>
                <td>{{cash5.account}}</td>
                <td></td>

              </tr>

            </tbody>
          </table>
        </div>









      </div>
        <br>
    <div class="container ">


      </div>

    <br>

      </form>


    </section>
    </body>






