<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>
  <div class="container" style="padding-top:10px;margin-left: 1px;">
    <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
  </div>

  <section style="padding-top:30px">
  <div class="container">

    <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">All Journal Entry</p></b></button>
    <br>
  </div>

    <form [formGroup]="AllJournalEntryForm" (ngSubmit)="onSubmit()">
      <div class="container-sm ">

      <div class="row">
        <div class="col-sm-5" >
          <label class="form-control"  style="border-radius:12px;padding: 10px; "> Date </label>

        </div>
        <div class="col-sm-7" >
          <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="date">
        </div>
      </div>



        <div class="row" style="padding-top: 5px;">
        <div class="col-sm-5" >
          <label class="form-control"  style="border-radius:12px;padding: 10px; "> Report Date </label>

        </div>



        <div class="col-sm-7" >
          <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="report_date">
        </div>
      </div>





      <br><br>
      <div class="container">
        <button type="submit" [disabled]="!AllJournalEntryForm.valid" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
      </div>
      <br><br>
      <div class="container">

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>SI.no</th>
              <th>Date</th>
              <th>Ref No</th>
              <th>Voucher Type</th>
              <th>Dr-Ledger</th>
              <th>Debit Amount</th>
              <th>Cr-Ledger</th>
              <th>Credit Amount</th>
              <th>Item</th>
              <th>Quantity</th>
              <th>User_ID</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{item.date}}</td>
              <td>{{item.internal_ref_no}}</td>
              <td>item sale</td>
              <td>{{item.account}}</td>
              <td>{{item.total3}}</td>
              <td>Liability</td>
              <td>{{item.total3}}</td>
              <td>{{item.item_name}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.user_id}}</td>
            </tr>
          </tbody>
        </table>
      </div>









    </div>
      <br>
  <div class="container ">


    </div>

  <br>

    </form>


  </section>
  </body>







