
<head>

  <style>
    body
    {
      font-family: 'Times New Roman', Times, serif;
    }
  </style>
</head>
<body>

 <div class="container" style="padding-top:10px;margin-left: 1px;">
  <button type="button" (click)="back()" style="border-radius:12px;" class="back"><b><p style="font-size: 20px;text-align: center;">Back</p></b></button>
</div>

    <section style="padding-top:30px">
    <div class="container">

      <button type="button"  style="border-radius:12px;" class="btn  btn-sm btn-block"><b><p style="font-size: 30px;">Balance Sheet</p></b></button>
      <br>
    </div>

      <form [formGroup]="BsForm" (ngSubmit)="onSubmit()" >
        <div class="container-sm ">

        <div class="row">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Date </label>

          </div>
          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder=""  formControlName="date">
          </div>
        </div>



          <div class="row" style="padding-top: 5px;">
          <div class="col-sm-5" >
            <label class="form-control"  style="border-radius:12px;padding: 10px; "> Report Date </label>

          </div>



          <div class="col-sm-7" >
            <input type="date"  style="border-radius:12px;" class="form-control" placeholder="" formControlName="report_date">
          </div>
        </div>
        <br><br>
        <!-- <div class="container">
          <button type="submit" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div> -->

        <br><br>
        <div class="container">
          <button type="submit" [disabled]="!BsForm.valid" style="border-radius: 12px;" class="btn btn-lg btn-block">Submit</button>
        </div>
        <br><br>


        <div class="container">
          <b><h3 style="text-align: center;">LIABILITY</h3></b>
          <table class="table table-bordered">
            <thead>
                <tr>
                  <th style="text-align: center;">Description</th>
                  <th style="text-align: center;">Amount</th>
                  <th style="text-align: center;">Total Amount</th>
                  
                </tr>
              </thead>
              <tbody>

                <tr>
                  <th style="text-align: center;">Partners Liability</th>
                  <td></td>
  
  
                </tr>
                <tr *ngFor="let cash of purchaseReceipts;">
                  <td>{{cash.account}}</td>
                  <td style="text-align: right;">{{cash.total3}}</td>
                </tr>
                
                <!-- <tr *ngFor="let cash of credit;">
  
                  <td>{{cash.account}}</td>
  
                  <td style="text-align: right;">{{cash.total3}}</td>
  
                </tr> -->
  
                <tr>
                  <th>Total</th>
                  <td style="text-align: right;">{{Pliability}}</td>
                  <td style="text-align: right;">{{Pliability}}</td> 
  
                </tr>

                <tr>
                  <th style="text-align: center;">Current Liability</th>
                  <td></td>
  
  
                </tr>
                <tr *ngFor="let cash of  cashPurchases;">
  
                  <td>{{cash.account}}</td>
  
                  <td style="text-align: right;">{{cash.total3}}</td>
  
                </tr>
  
  
                <tr *ngFor="let cash of  pcredits;">
  
                  <td>{{cash.account}}</td>
  
                  <td style="text-align: right;">{{cash.total3}}</td>
  
                </tr>
  
                <tr>
                  <th>Total</th>
                  <td style="text-align: right;">{{Cliability}}</td>
                  <td style="text-align: right;">{{Cliability}}</td>
  
                </tr>

                <tr>
                  <th style="text-align: center;">Long Term Liability</th>
                  <td></td>
  
  
                </tr>
                <!-- <tr *ngFor="let cash of  cashPurchases;">
  
                  <td>{{cash.account}}</td>
  
                  <td style="text-align: right;">{{cash.total3}}</td>
  
                </tr>
  
  
                <tr *ngFor="let cash of  pcredits;">
  
                  <td>{{cash.account}}</td>
  
                  <td style="text-align: right;">{{cash.total3}}</td>
  
                </tr>
   -->
                <tr>
                  <th>Total</th>
                  <td style="text-align: right;">{{LTliability}}</td>
                  <td style="text-align: right;">{{LTliability}}</td>
  
                </tr>

                <tr>
                  <td></td>
                  <th style="text-align: right;">Gross Profit</th>
                  <td style="text-align: right;">{{grossProfit1}}</td>
  
                </tr>

              </tbody>
            </table>
          </div>

          <div class="container">
            <h3 style="text-align: center;">ASSET</h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="text-align: center;">Description</th>
                  <th style="text-align: center;">Amount</th>
                  <th style="text-align: center;">Total Amount</th>
               </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th style="text-align: center;">Cash & Bank Account</th>
                  <td></td>
  
  
                </tr>
                <tr *ngFor="let cash of salesReceipts;">
                  <td>{{cash.account}}</td>
                  <td style="text-align: right;">{{cash.total3}}</td>
                </tr>
                
                <!-- <tr *ngFor="let cash of credit;">
  
                  <td>{{cash.account}}</td>
  
                  <td style="text-align: right;">{{cash.total3}}</td>
  
                </tr> -->
  
                <tr>
                  <th>Total</th>
                  <td style="text-align: right;">{{CBAccount}}</td>
                  <td style="text-align: right;">{{CBAccount}}</td> 
  
                </tr>

                <tr>
                  <th style="text-align: center;">Current Asset</th>
                  <td></td>
  
  
                </tr>
                <tr *ngFor="let cash of cash;">
  
                  <td>{{cash.account}}</td>
  
                  <td style="text-align: right;">{{cash.total3}}</td>
  
                </tr>
  
  
                <tr  *ngFor="let cash of credits;">
  
                  <td>{{cash.account}}</td>
  
                  <td style="text-align: right;">{{cash.total3}}</td>
  
                </tr>
  
                <tr>
                  <th>Total</th>
                  <td style="text-align: right;">{{CAsset}}</td>
                  <td style="text-align: right;">{{CAsset}}</td>
  
                </tr>

                <tr>
                  <th style="text-align: center;">Fixed Asset</th>
                  <td></td>
  
<!--   
                </tr>
                <tr *ngFor="let cash of  cashPurchases;">
  
                  <td>{{cash.account}}</td>
  
                  <td style="text-align: right;">{{cash.total3}}</td>
  
                </tr>
  
  
                <tr *ngFor="let cash of  pcredits;">
  
                  <td>{{cash.account}}</td>
  
                  <td style="text-align: right;">{{cash.total3}}</td>
  
                </tr>
   -->
                <tr>
                  <th>Total</th>
                  <td style="text-align: right;">{{FAsset}}</td>
                  <td style="text-align: right;">{{FAsset}}</td>
  
                </tr>

                <tr>
                  <td></td>
                  <th style="text-align: right;">Gross Profit</th>
                  <td style="text-align: right;">{{grossProfit2}}</td>
  
                </tr>

              </tbody>
            </table>
          </div>












<!-- 
          <div class="container">
            <h3 style="text-align: center;">LIABILITY</h3>
            <table class="table table-bordered">
              <thead>
                  <tr>
                    <th style="text-align: center;">Description</th>
                    <th style="text-align: center;">Amount</th>
                    <th style="text-align: center;">Total Amount</th>
                    
                  </tr>
                </thead>
                <tbody>

                <tr>
                  <th style="text-align: center;"></th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr  >
                  <td>{{cash.account}}</td>
                 <td>{{cash.total3}}</td>
                 <td></td>
                 <td></td>
                 <td></td>
                 <td></td>
                </tr>
                 <tr *ngFor="let cash of salesReceipts;">
                  <th style="text-align: right;">Total</th>
                  <td>{{cash.total3}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr> 
                <tr>
                  <th style="text-align: center;">Current Liability</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngFor="let cash of  cashPurchases;">
                  <td>{{cash.account}}</td>
                  <td>{{cash.total3}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr *ngFor="let cash of  pcredits;">
                  <th style="text-align: right;">Total</th>
                  <td>{{cash.total3}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th style="text-align: center;">Long Term Liability</th>
                  <td></td>
                  <td></td><td></td>
                  <td></td>
                  <td></td>
                </tr>


                <tr>
                  <th style="text-align: right;">Total</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td></td>
                  <th style="text-align: right;">Gross Profit</th>
                  
                  <td>{{liabilityTotal}}</td>
                  <td></td>
                </tr>




              </tbody>
          </table>
        </div>
        <div class="container">
            <h3 style="text-align: center;">ASSET</h3>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="text-align: center;">Description</th>
                  <th style="text-align: center;">Amount</th>
                  <th style="text-align: center;">Total Amount</th>
               </tr>
              </thead>
              <tbody>
                <tr>
                  <th style="text-align: center;">Cash & Bank Account</th>
                   <td></td>
                  <td></td><td></td><td></td>
                  <td></td>
                </tr>

<tr *ngFor="let cash of salesReceipts;">
  <td>{{cash.account}}</td>
  <td>{{cash.total3}}</td>
  <td></td>
  <td></td>
  <td></td>
</tr>

                <tr>
                  <th style="text-align: center;">Current Asset</th>
                  <td></td>
                  <td></td>
                  <td></td> <td></td>
                </tr>
                <tr *ngFor="let cash of cash;">
                  <td>{{cash.account}}</td>
                  <td>{{cash.total3}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr *ngFor="let cash of credits;">
                  <td>{{cash.account}}</td>
                  <td>{{cash.total3}}</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr >
                  <th style="text-align: right;">Total</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr >
                  <th style="text-align: center;">Fixed Asset</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>


               <tr  *ngFor="let cash of cash;">
                  <td>{{cash.account}}</td>
                  <td>{{cash.total3}}</td>
                </tr> 

                <tr>
                  <td></td>
                  <td></td>
                  <th style="text-align: right;">Gross Profit</th>
                  
                  <td>{{assetTotal}}</td>
                  
                </tr>
               




              </tbody>
            </table>
          </div>
 -->








      </div>
        <br>
    <div class="container ">


      </div>

    <br>





      </form>


    </section>
    </body>








